@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: beige !important;
    min-height: 100vh;
}

/* .grilla {
    display: grid;
    grid-template-rows: 130px auto 10%;
    min-height: 100vh;
} */

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin: 0 10%;
}

.logoMasMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 16px 0px;
}



.logoHeader {
    margin-right: 48px;
    animation-duration: 0.9s;
    animation-name: aparecerB;
    animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.beneficiosDestacados {
    background-color: rgb(255, 227, 218);
    width: 100%;
    padding: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.niveles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.heroImg {
    width: 600px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    animation-duration: 0.5s;
    animation-name: aparecerTitulo;
    animation-timing-function: ease-in-out;
}

.itemMenu {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4px;
}

.beneficios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    }

.todosLosNiveles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.itemBeneficios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 40px;
    animation-duration: 0.9s;
    animation-name: aparecerB;
    animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }

 @keyframes aparecerB {
    0% {
      opacity: 0;
      transform: scale(0.85);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
 }
     

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 12px;
}

.itemNiveles {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 40px;
    padding-top: 20px;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.tabla {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.tipografia {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contacto {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 32px;
}

main p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    margin: 4px;
}

td, th, caption {
    min-width: 100px;
    padding: 12px;
    background-color: rgb(29, 24, 32, 0.05);
}

.maxImg {
    width: 70%;
    margin-top: 8px;
}

ul li a {
    text-decoration: none;
}

ul li {
    margin: 4px 12px;
    list-style-type: none;
}

h1 {   
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
    animation-duration: 0.5s;
    animation-name: aparecerTitulo;
    animation-timing-function: ease-in-out;
}

@keyframes aparecerTitulo {
    0% {
      opacity: 0;
      transform:translate(0px, -12px);
    }
    100% {
      opacity: 1;
      transform:translate(0px, 0px);
      transform: scale(1);
    }
 }

section ul {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer {
    padding-bottom: 12px;
    padding-top: 36px;
    padding-bottom: 40px;
    margin-top: 36px;
    background-color: rgb(29, 24, 32);
    color: beige;
    position: relative;
    bottom: 0px;
    width: 100%;
}

footer img {
    padding-left: 20px;
}

@media screen and (max-width: 991px) {
    .beneficios {
        flex-direction: column;
    }

    .logoMasMenu {
        justify-content:center;
        margin: 16px 25%;
        align-items:flex-start;
    }

    .todosLosNiveles {
        flex-direction: column;
    }

    header {
        margin: 0%;
    }

    .itemNiveles {
        padding: 16px;
        padding-top: 4px;
    }
}

@media screen and (max-width: 640px) {
    .heroImg {
        width: 100%;
    }
}