footer {
    padding-top: 36px;
    padding-bottom: 40px;
    margin-top: 36px;
    background-color: map-get($colors, dusk);
    color: map-get($colors, beige);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    @include flex(row);
    p {
        @extend .tipografia;
        text-align: center;
        color: map-get($colors, white);
        margin: 0 0;
    }
    div {
        img {
            padding-left: 20px;
        } 
    }
}

@media screen and (max-width: 991px) {
    footer {
        @include flex(column);
    }
}