footer {
    padding-top: 36px;
    padding-bottom: 40px;
    margin-top: 36px;
    background-color: map-get($colors, dusk);
    color: map-get($colors, beige);
    position: relative;
    bottom: 0px;
    width: 100%;
    @include flex(row);
    p {
        @extend .tipografia;
        color: map-get($colors, white);
    }
    img {
        padding-left: 20px;
    } 
}