footer {
    padding-bottom: 12px;
    padding-top: 36px;
    padding-bottom: 40px;
    margin-top: 36px;
    background-color: map-get($colors, dusk);
    color: map-get($colors, beige);
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
        font-family: $rale;
        font-weight: 400;
        font-size: 14px;
        color: map-get($colors, white);
    }
    img {
        padding-left: 20px;
    } 
}