main {
    @include flex(column);
    p {
        @extend .tipografia;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    img {
        width: 100%;
        margin-bottom: 24px;
        // width: 600px;
    }
    .beneficiosDestacados {
        background-color: map-get($colors, pink);
        width: 100%;
        padding: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
        ul{ 
            padding-left: 0px;
            margin-top: 48px;
            li{
                margin: 4px 12px;
                list-style-type: none;
                div{
                    text-align: center;
                    background-color: map-get($colors, lightenpink);
                    border-radius: 20px;
                    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.12);
                    img{
                        width: 128px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
    .niveles {
        @include flex(column);
        width: 100%;
        padding: 40px;
        margin-top: 12px;
        margin-bottom: 12px;
        ul {
            @include flex(row);
            width: 100%;
            padding-left: 0px;
            margin-top: 20px;
            li {
                @extend .tipografia;
                border-radius: 16px;
                background-color: map-get($colors, green);
                margin: 4px 12px;
                list-style-type: none;
                padding: 8px 20px;
            }
        }
        p {
            @extend .tipografia;
            margin-top: 12px;
            text-align: center
        }
    }
    ul {
        @include flex(row);
        width: 100%;
        li {
            div {
                @extend .tipografia;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 250px;
                padding: 40px;
                animation-duration: 0.9s;
                animation-name: aparecerB;
                animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
            }
        }
    }
}


@media screen and (max-width: 640px) {
    body {
        main {
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    body {
        main {
            .niveles {
                ul {
                    flex-direction: column;
                }
            }
            ul {
                @include flex(column);
            }
        }
    }
}