$rale: 'Raleway', sans-serif;

$colors: (
    beige: #f5f5dc,
    dusk: #1d1820,
    dusk005: #1d18200d,
    pink: #ffe3da,
    white: #ffffff,
    green: #7fffd4,
    lightenpink: #fcf3fc
);

@mixin flex($direction){
	display:flex;
	flex-direction: $direction;
	justify-content:center;
    align-items: center
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import "header";
@import "main";
@import "footer";
@import "tipografia";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: map-get($colors, beige) !important;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
  
.content-wrap {
    padding-bottom: 80px;
}

form, .form-texto {
    text-align: left !important;
    font-family: $rale;
    font-weight: 300;
    font-size: 14px;
}

 @keyframes aparecerB {
    0% {
      opacity: 0;
      transform: scale(0.85);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
 }
    

.tipografia {
    font-family: $rale;
    font-weight: 400;
    font-size: 14px;
}


.tabla {
    @extend .tipografia;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

input {
    margin: 4px;
}

td, th, caption {
    min-width: 100px;
    padding: 12px;
    background-color: map-get($colors, dusk005);
}

.maxImg {
    width: 70%;
    margin-top: 8px;
}

.maxImg:hover {
    box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.2);
}



@keyframes aparecerTitulo {
    0% {
      opacity: 0;
      transform:translate(0px, -12px);
    }
    100% {
      opacity: 1;
      transform:translate(0px, 0px);
      transform: scale(1);
    }
 }

section ul {
    margin-left: auto;
    margin-right: auto;
}




